#browse {
  .categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .category {
      perspective: 1000px;
      width: 100%;
      a {
        background-color: white;
        border: 1px solid black;
        width: 75%;
        max-width: 360px;
        display: block;
        margin: auto;
        margin-bottom: 20px;
        padding: 10px;
        cursor: pointer;
        img {
          width: 100%;
          &:hover {
            animation-name: tilt-in;
            animation-duration: 1s;
            animation-fill-mode: forwards;
          }
        }
        .title {
          color: black;
          display: block;
          text-align: center;
          font-size: 1.5em;
        }
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .categories {
    flex-direction: row !important;
    .category {
      a {
        width: 90% !important;
      }
    }
  }
}

#browse-results {
  .pagination{
    font-family: Arial, Helvetica, sans-serif;
  }
  .sort{
    position: absolute;
    right: 20px;
    select{
      padding: 5px;
    }
  }
  .breadcrumb {
    display: block;
    margin-bottom: 10px;
  }
  .items{
    margin-top: 20px;
  }
  .item {
    border-radius: 5px;
    max-height: 300px;
    background-color: white;
    margin-bottom: 8px;
    padding: 10px;
    display: flex;
    small {
      color: $secondary_color;
      &:hover {
        text-decoration: underline;
      }
    }
    .specs {
      width: 70%;
      display: flex;
      align-items: center;
      h1 {
        font-size: 1em;
        margin: 0;
      }
      img {
        cursor: pointer;
        height: 50px;
        border: 1px solid black;
        padding: 5px;
        float: left;
        margin-right: 10px;
      }
      .description {
        display: none;
        cursor: pointer;
        color: black;
      }
    }
    .pricing {
      width: 30%;
      position: relative;
      .box {
        border-radius: 5px;
        border: 1px solid black;
        padding: 5px;
        background-color: $background_color;
        display: inline-block;
        position: absolute;
        right: 0;
        h1 {
          font-size: 1em;
          margin: 0;
          text-align: center;
        }
        .small {
          display: flex;
          padding: 5px;
        }
        .big {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 730px) {
  #browse-results {
    .item {
      padding: 20px;
      margin-bottom: 15px;
      .specs {
        flex-direction: column;
        align-items: flex-start;
        .name {
          font-size: 2em;
          order: 1;
          margin-bottom: 10px;
          h1{
            color: black;
          }
        }
        img {
          height: 100px;
        }
        a {
          order: 2;
          display: flex;
          align-items: center;
        }
        .description {
          display: inline-block;
        }
      }
      .pricing {
        .box {
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          float: right;
          .small{
            display: none;
          }
          .big{
            display: flex;
            margin-left: 5px;
            padding: 10px;
          }
          h1 {
            font-size: 2em;
          }
        }
      }
    }
  }
}
