.landing {
  line-height: 1.5;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(11, 61, 106);
  background: linear-gradient(
    90deg,
    rgba(11, 61, 106, 1) 25%,
    rgba(139, 48, 179, 1) 79%
  );
  .container {
    display: flex;
    justify-content: space-around;
    h1 {
      font-family: "Grandstander", cursive;
      text-shadow: 3px 3px 1px black;
    }
    position: relative;
    top: 10vh;
    left: 0px;
    color: white;
    .text {
      margin: auto;
      text-shadow: 2px 2px 1px black;
      button {
        background-color: white;
        border: 1px solid black;
        padding: 10px;
        cursor: pointer;
        border-radius: 5px;
        text-shadow: none;
        font-weight: bold;
      } 
    }
  }
  img {
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
  svg {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotateY(180deg);
  }
}

@media screen and (max-width: 769px) {
  .container {
    flex-direction: column;
    h1{
      font-size: 2em;
    }
    .text {
      text-align: center;
      width: 300px;
    }
  }
}

@media screen and (min-width: 769px) {
  .container {
    flex-direction: row;
    h1{
      font-size: 3em;
    }
    img {
      width: 320px;
      height: 320px;
      margin-top: 50px;
    }
    .text {
      text-align: left;
      width: 400px;
    }
  }
}
