.search-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: rgb(196, 196, 196);
  }
  h4 {
    color: black;
    width: 40%;
    font-size: 0.8em;
    padding-left: 10px;
  }
  img {
    height: 70px;
    border-radius: 50%;
  }
  .right {
    position: absolute;
    right: 20px;
  }
  .my-button {
    padding: 8px;
    font-size: 0.8em;
  }
}

.search-item:nth-of-type(1) {
  margin-top: 20px;
}

.search-options {
  font-size: 0.8em;
  background-color: darken($background_color, 5);
  border: 1px solid grey;

  border-radius: 5px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  > * {
    padding: 2.5%;
    display: flex;
  }
  .bar {
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;

    align-items: center;
    input {
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-radius: 10px;
      padding: 10px;
      border: 2px solid white;
      &:focus {
        border-color: $secondary_color;
        outline: none;
      }
    }
    .delete {
      background-color: $background_color;
      width: 10px;
      padding: 5px;
      border-radius: 50%;
      position: relative;
      right: 27px;
      cursor: pointer;
    }
  }
  .name-desc {
    border-bottom: 1px solid grey;
    align-items: center;
  }
  .category {
    flex-direction: column;
    border-right: none;
  }
  .range {
    border-right: 1px solid grey;
    flex-direction: column;
    justify-content: center;
    > * {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    input {
      -moz-appearance: textfield;
      width: 60px;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
}

@media screen and (min-width: 750px) {
  .search-options {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    > * {
      border-bottom: none !important;
      border-right: 1px solid grey;
    }
  }
  .search-item {
    padding: 20px 0;
    > * {
      padding: 0 30px;
    }
    h4 {
      font-size: 1em;
    }
  }
}
