@import "config/vars";
@import "config/keyframes";
@import "sections/browse";
@import "sections/navbar";
@import "sections/contact";
@import "sections/cart";
@import "sections/backdrop";
@import "sections/singleItem";
@import "sections/search";
@import "sections/button";
@import "sections/landing";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: rgb(41, 41, 41);
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: $secondary_color;
  }
}

a:hover,
.active {
  color: $secondary-color!important;
}

.page {
  margin: 0;
  padding: 20px;
  min-height: 85vh;
  background-color: $background_color;
}

.button {
  cursor: pointer;
  outline: none;
  background-color: $secondary_color;
  color: #fff;
  border: none;
  &:hover {
    background-color: darken($secondary_color, 20);
  }
}
