@-webkit-keyframes tilt-in {
  from {
    -webkit-transform: none;
            transform: none;
  }
  to {
    -webkit-transform: rotateX(10deg);
            transform: rotateX(10deg);
  }
}

@keyframes tilt-in {
  from {
    -webkit-transform: none;
            transform: none;
  }
  to {
    -webkit-transform: rotateX(10deg);
            transform: rotateX(10deg);
  }
}

@-webkit-keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-in {
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes jump {
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: none;
            transform: none;
  }
  80% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  90% {
    -webkit-transform: none;
            transform: none;
  }
  95% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@keyframes jump {
  40% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  60% {
    -webkit-transform: none;
            transform: none;
  }
  80% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  90% {
    -webkit-transform: none;
            transform: none;
  }
  95% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
  }
}

@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    left: 100vw;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    left: 100vw;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-from-left {
  from {
    left: -40vw;
  }
  to {
    left: 0;
  }
}

@keyframes slide-in-from-left {
  from {
    left: -40vw;
  }
  to {
    left: 0;
  }
}

#browse .categories {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#browse .categories .category {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  width: 100%;
}

#browse .categories .category a {
  background-color: white;
  border: 1px solid black;
  width: 75%;
  max-width: 360px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;
  cursor: pointer;
}

#browse .categories .category a img {
  width: 100%;
}

#browse .categories .category a img:hover {
  -webkit-animation-name: tilt-in;
          animation-name: tilt-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#browse .categories .category a .title {
  color: black;
  display: block;
  text-align: center;
  font-size: 1.5em;
}

@media screen and (min-width: 769px) {
  .categories {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .categories .category a {
    width: 90% !important;
  }
}

#browse-results .breadcrumb {
  display: block;
  margin-bottom: 10px;
}

#browse-results .item {
  border-radius: 5px;
  max-height: 300px;
  background-color: white;
  margin-bottom: 8px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#browse-results .item small {
  color: #8D3DB2;
}

#browse-results .item small:hover {
  text-decoration: underline;
}

#browse-results .item .specs {
  width: 70%;
}

#browse-results .item .specs h1 {
  font-size: 1em;
  margin: 0;
}

#browse-results .item .specs img {
  cursor: pointer;
  height: 50px;
  border: 1px solid black;
  padding: 5px;
  float: left;
  margin-right: 10px;
}

#browse-results .item .specs .description {
  display: none;
  cursor: pointer;
  color: black;
}

#browse-results .item .pricing {
  width: 30%;
  position: relative;
}

#browse-results .item .pricing .box {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  background-color: #f4f4f4;
  display: inline-block;
  position: absolute;
  right: 0;
}

#browse-results .item .pricing .box h1 {
  font-size: 1em;
  margin: 0;
  text-align: center;
}

#browse-results .item .pricing .box .small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
}

#browse-results .item .pricing .box .big {
  display: none;
}

@media screen and (min-width: 730px) {
  #browse-results .item {
    padding: 20px;
    margin-bottom: 15px;
  }
  #browse-results .item .specs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #browse-results .item .specs h1 {
    font-size: 2em;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 10px;
  }
  #browse-results .item .specs img {
    height: 100px;
  }
  #browse-results .item .specs a {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #browse-results .item .specs .description {
    display: inline-block;
  }
  #browse-results .item .pricing .box {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    float: right;
  }
  #browse-results .item .pricing .box .small {
    display: none;
  }
  #browse-results .item .pricing .box .big {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 5px;
    padding: 10px;
  }
  #browse-results .item .pricing .box h1 {
    font-size: 2em;
  }
}

nav {
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 3%;
  border-bottom: 1px solid #505050;
}

nav .logo {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 90px;
  margin: 10px 0;
}

nav .hamburger {
  cursor: pointer;
  background-color: #f4f4f4;
  width: 20px;
  height: 20px;
  border: 1px solid grey;
  border-radius: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px;
}

nav .hamburger .line {
  width: 100%;
  border-bottom: 3px solid #414141;
}

nav .side-drawer {
  width: 40vw;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px #4d4d4d;
          box-shadow: 5px 5px 5px #4d4d4d;
  z-index: 100;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  -webkit-animation-name: slide-in-from-left;
          animation-name: slide-in-from-left;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  padding-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
}

nav .side-drawer > * {
  display: block;
  margin-left: 20%;
  margin-bottom: 20px;
}

nav .links {
  display: none;
}

nav .shopping-cart {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .shopping-cart img {
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 25px;
  margin-right: 5px;
}

nav .shopping-cart #cart-items-number {
  display: inline-block;
  background-color: #f0ec00;
  border-radius: 10%;
  padding: 5px;
}

nav .shopping-cart #cart-items-number.jump {
  -webkit-animation-name: jump;
          animation-name: jump;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

@media screen and (min-width: 480px) {
  nav {
    height: 73px;
  }
  nav .logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 120px;
  }
  nav .hamburger {
    display: none;
  }
  nav .links {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50vw;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  nav .links > * {
    margin-left: 10%;
    cursor: pointer;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-decoration: none;
    font-family: inherit;
    color: black;
    font-size: 0.8em;
  }
  nav .shopping-cart {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact-form > * {
  margin-bottom: 20px;
}

#contact-form #message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart {
  font-size: 0.7em;
  height: 100vh;
  width: 100vw;
  left: 0;
  background-color: #fff;
  position: fixed;
  z-index: 100;
  top: 0;
  border: 1px solid black;
  -webkit-animation-name: slide-in;
          animation-name: slide-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  overflow: scroll;
}

.cart .total {
  margin-top: 20px;
  margin-left: 40%;
  display: inline-block;
  width: 20%;
  text-align: center;
}

.cart li,
.cart .column-names {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.cart .thumbnail {
  height: 15vw;
  margin: 0 auto;
}

.cart .delete-button {
  cursor: pointer;
  padding-left: 20px;
  display: inline-block;
}

.cart .delete-button img {
  display: block;
  width: 25px;
}

.cart .delete-button:hover .lid {
  padding-bottom: 5px;
  -webkit-transition-property: padding-bottom;
  transition-property: padding-bottom;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.cart button {
  border: 1px solid #a2a2a2;
  padding: 8px;
  margin-top: 10px;
  margin-left: 10px;
}

.cart .empty-card-message {
  font-size: 1.5em;
  text-align: center;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.cart .empty-card-message img {
  width: 130px;
}

.cart .delete {
  -webkit-animation-name: fade-out;
          animation-name: fade-out;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.cart .quantity-display button {
  margin: 0;
}

@media screen and (min-width: 480px) {
  .cart {
    top: 100px;
    width: 80vw;
    height: 70vh;
    left: 5vw;
    padding: 3%;
  }
  .cart button {
    margin-left: 0;
  }
  .cart .thumbnail {
    height: 10vw;
  }
}

@media screen and (min-width: 730px) {
  .cart {
    width: 50vw;
    left: 20vw;
    font-size: initial;
  }
  .cart .thumbnail {
    height: 8vw;
  }
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 46, 46, 0.632);
  position: fixed;
  top: 0;
  z-index: 50;
  opacity: 0;
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.single {
  padding: 20px 3%;
}

.single .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.single .item h1 {
  font-size: 1em;
  margin-top: 0;
}

.single .item p {
  font-size: 0.8em;
}

.single .item .images-mobile {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.single .item .images-mobile .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.single .item .images-mobile .slider .arrow {
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
  background-color: #e4e4e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single .item .images-mobile .slider .arrow .left,
.single .item .images-mobile .slider .arrow .right {
  width: 50px;
}

.single .item .images-mobile .slider .wrapper {
  width: 60%;
  max-width: 310px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 20px 0;
  background-color: white;
}

.single .item .images-mobile .slider .wrapper img {
  width: 100%;
}

.single .item .images-mobile .slider .visible {
  visibility: visible;
}

.single .item .images-mobile .slider .hidden {
  display: none;
}

.single .item .images {
  display: none;
  width: 40%;
  margin: auto;
}

.single .item .images .thumb {
  width: 70px;
  padding-right: 8px;
  cursor: pointer;
}

.single .item .images .image-big {
  margin-bottom: 10px;
  max-width: 300px;
  display: block;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
}

.single .item .info {
  width: 100%;
  line-height: 1.5;
  max-height: 300px;
  overflow-y: scroll;
}

.single button {
  padding: 5px;
  float: right;
}

@media screen and (min-width: 480px) {
  .single .item h1 {
    font-size: 2em;
  }
  .single .item p {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  .single .item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .single .item .images-mobile {
    display: none;
  }
  .single .item .images {
    display: inline-block;
  }
  .single .item .info {
    width: 50%;
  }
  .single .item button {
    padding: 10px;
  }
}

.search-item {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.search-item:hover {
  background-color: #c4c4c4;
}

.search-item h4 {
  color: black;
  width: 40%;
  font-size: 0.8em;
}

.search-item img {
  height: 70px;
  border-radius: 50%;
}

.search-item .right {
  position: absolute;
  right: 20px;
}

.search-item .my-button {
  padding: 8px;
  font-size: 0.8em;
}

.search-item:nth-of-type(1) {
  margin-top: 20px;
}

.search-options {
  font-size: 0.8em;
  background-color: #e7e7e7;
  border: 1px solid grey;
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.search-options > * {
  padding: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-options .bar {
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-options .bar input {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid white;
}

.search-options .bar input:focus {
  border-color: #8D3DB2;
  outline: none;
}

.search-options .bar .delete {
  background-color: #f4f4f4;
  width: 10px;
  padding: 5px;
  border-radius: 50%;
  position: relative;
  right: 27px;
  cursor: pointer;
}

.search-options .name-desc {
  border-bottom: 1px solid grey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-options .category {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: none;
}

.search-options .range {
  border-right: 1px solid grey;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-options .range > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search-options .range input {
  -moz-appearance: textfield;
  width: 60px;
}

.search-options .range input::-webkit-outer-spin-button, .search-options .range input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (min-width: 750px) {
  .search-options {
    font-size: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    flex-direction: row;
  }
  .search-options > * {
    border-bottom: none !important;
    border-right: 1px solid grey;
  }
  .search-item > * {
    padding: 0 30px;
  }
  .search-item h4 {
    font-size: 1em;
  }
}

.my-button {
  cursor: pointer;
  outline: none;
  background-color: #8D3DB2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
  border-radius: 5%;
}

.my-button .text {
  white-space: nowrap;
}

.my-button img {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}

.my-button:hover {
  background-color: #512366;
}

.landing {
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #0b3d6a;
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #0b3d6a), color-stop(79%, #8b30b3));
  background: linear-gradient(90deg, #0b3d6a 25%, #8b30b3 79%);
}

.landing .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 10vh;
  left: 0px;
  color: white;
}

.landing .container h1 {
  font-size: 3em;
}

.landing .container .text {
  width: 300px;
  margin: auto;
  text-align: center;
}

.landing .container .text button {
  background-color: white;
  padding: 5px;
  outline: none;
  cursor: pointer;
}

.landing img {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.landing svg {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media screen and (min-width: 769px) {
  .container {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .container img {
    width: 320px;
    height: 320px;
  }
  .container .text {
    text-align: left !important;
  }
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  color: #292929;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #8D3DB2;
}

a:hover,
.active {
  color: #8D3DB2 !important;
}

.page {
  margin: 0;
  padding: 5px;
  min-height: 85vh;
  background-color: #f4f4f4;
}

.button {
  cursor: pointer;
  outline: none;
  background-color: #8D3DB2;
  color: #fff;
  border: none;
}

.button:hover {
  background-color: #512366;
}

@media screen and (min-width: 480px) {
  .page {
    padding: 20px;
  }
}
/*# sourceMappingURL=style.css.map */